* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: $font-family-base;
	font-size: 62.5%;
}

body {
	font-size: $font-size-base;
}

@for $i from 1 through 6 {
	h#{$i} {
		font-family: $font-family-headings;
		font-weight: bold;
	}
}

.container {
	margin: 0 auto;
	padding: 0 2rem;

	@each $breakpoint, $size in $container-widths {
		@include breakpoint-up($breakpoint) {
			max-width: #{$size + "px"};
		}
	}
}

.hidden {
	position: absolute;
	left: -9999px;
	height: 1px;
	width: 1px;
	opacity: 0;
}
