$orange: #ff5f2e;
$blue: #004e66;
$yellow: #fcbe32;
$light: #e1eef6;
$font-color: #000;

$font-size-base: 1.6rem;
$font-family-base: "Roboto", sans-serif;
$font-family-headings: "Roboto Slab", serif;
$border-radius: 5px;

$breakpoints: (
	sm: 480,
	md: 768,
	lg: 992,
	xl: 1200
);

$container-widths: (
	sm: 480,
	md: 728,
	lg: 952,
	xl: 1160
);
